
@font-face {
    font-family: 'Montserrat'; 
    src: url(../src/Montserrat-Bold.ttf) format('truetype');
    font-family: 'Nexa';
    src: url(../src/Nexa_Bold.otf) format('otf');
}

a {
    text-decoration: none;
    color: black;
}

article a:active {
    color:black
}

a:visited{
    color:black;
}

header {
    padding-left: 20px;
    color:#deb887;
    font-family: 'Montserrat';
}

header h1{
    margin-bottom: 0.1em;
}

header h2{
    margin-top: 0em;
}

nav {
    text-align: center;
    margin-right:70%;
}

nav ul {
 padding-left: 20px;
}

ul {
    padding: 0;
}

nav {
    list-style-type: none;
    padding: 0.3em;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}


body {
    font-family: 'Montserrat';
    background-color:#e6e6ff
}

.pokecard {
    width: 10%;
    height: 10%;
}

.social {
    width: 20px;
    display: inline;
    float: inline-start;
}

.navlogos {
    display: inline-block;
}

#logos{
    display: inline;
}

#logo {
    width: 50px;
    padding-left: 90px;
    text-align: center;
}

#titre {
    text-align: center;
    margin-bottom: 5%;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gauche {
    display: flex;
    align-items: center;
}

.gauche img {
    margin-right: 1%;
    vertical-align:middle;
}

.container li:hover {
    box-shadow: 0px 10px 12px 5px rgba(0,0,0,0.75);
    transition: 0.3s;
    width: 33%;
    margin: 1.25%;
    filter:none;
}

.container:hover li:not(:hover) img {
    filter: grayscale(100%);
}

.container li  {
    margin:1.25%;
    float: left;
    border-radius: 3px;
    border: 1px black solid;
    width: 30%;
    /*height: 33%;*/
    transition: 0.3s;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
    filter:grayscale(100%);
    
}

li {
    list-style-type: none;
}





h4 {
    text-align: center;
}

#Village_Neige {
    background-image:url(../img/holder.png);
    background-size: auto;
    width: 100%;
    height: 100%;
}
section ul {
    margin-top: 0.3em;
}

section li, section h3 {
    display: inline;
    text-align: center;    
}

section {
text-align: center;
padding: 10px;
}

* {
    box-sizing: content-box;
}

.container {
    width: 100%;
    border: 0;
    box-shadow:none;
    float: left;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container:hover {
    box-shadow:none;
    width: 100%;

}

footer {
    font-weight: bold;
    color:grey;
    padding-left: 20px;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
.sidenav h1 a {
    color:#deb887;
    padding: 0%;
}

  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav a:active {
      color:burlywood;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    position: left;
    top: 0;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }

  .openbtn:hover {
    color: #111;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }