
@font-face {
    font-family: 'Montserrat'; 
    src: url(../src/Montserrat-Bold.ttf) format('truetype');
    font-family: 'Nexa';
    src: url(../src/Nexa\ Bold.otf) format('otf');
}

a {
    text-decoration: none;
}

article a:active {
    color:black
}

article a:visited{
    color:black;
}

header {
    padding-left: 20px;
    color:burlywood;
    font-family: 'Nexa';
}

header h1{
    margin-bottom: 0.1em;
}

header h2{
    margin-top: 0em;
}

nav {
    text-align: center;
    margin-right:70%;
}

nav ul {
 padding-left: 20px;
}

ul {
    padding: 0;
}

nav {
    list-style-type: none;
    padding: 0.3em;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

hr {
  border-top: 1px solid;
  border-radius: 5px;
  width: 10%;
}

body {
    font-family: 'Montserrat';
    background-color:#e6e6ff
}

.pokecard {
    width: 10%;
    height: 10%;
}

.social {
    width: 20px;
    display: inline;
    float: inline-start;
}

.navlogos {
    display: inline-block;
}

#logos{
    display: inline;
}

#logo {
    width: 50px;
    padding-left: 90px;
    text-align: center;
}

#minecraft-titre {
    text-align: center;
    margin-bottom: 5%;
}

h4 {
    text-align: center;
}

section ul {
    margin-top: 0.3em;
}

section li, section h3 {
    display: inline;
    text-align: center;    
}

section {
text-align: center;
border: 1px black solid;
padding: 10px;
}

* {
    box-sizing: content-box;
}

.container {
    width: 100%;
    border: 0;
    box-shadow:none;
    float: left;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container:hover {
    box-shadow:none;
    width: 100%;

}

footer {
    font-weight: bold;
    color:grey;
    padding-left: 20px;
}

  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  td {
      /*border: 1px solid #333;*/
      text-align: center;
      padding: 5px;
  }

.thumbcase {
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
  overflow: hidden;
}

  button {
      font-family: 'Montserrat';
  }
  
  .thumbnail {
    width: 40%;
    float: inline-start;
    float:left;
    margin: 5px;
    margin-right:10px;
    transition: 0.2s;
  }

  .icon {
    width: 32px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
  }

  .content-title {
    text-align: center;
  }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav a:active {
      color:burlywood;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    position: left;
    top: 0;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }

  .openbtn:hover {
    color: #111;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }